img
{
    width: 300px;
    height: 200px;
}
body {
    text-align: center;
}
.video_div {
    justify-content: center;
}
p{
   font-family: 'Courier New', Courier, monospace; 
}
video
{
    width: 600px;
    height: 400px;
}