{% extends 'base.html' %}
{% block content %}
<img src = "{{user.image.url}}">
<h3>{{user.name}}</h3>
<p>{{user.body}}</p>
<p>{{user.email}}</p>
<a class="btn btn-outline-warning" href="{% url 'accounts:EditProfile' user.id %}">EditProfile</a> 
{% if user in user.folower.all %}
<a class="nav-item btn btn-outline-dark" href="{% url 'accounts:Folow' user.id %}">UnFolow</a>
{% else %}
<a class="nav-item btn btn-outline-danger" href="{% url 'accounts:Folow' user.id %}">Folow</a>
{% endif %}
{% if user in user.notifications.all %}
<a href="{% url 'accounts:Noty' user.id %}"><img src="../../../media/site/noty.png" style="width: 50px; height: 30px;"></a>
{% else %}
<a href="{% url 'accounts:Noty' user.id %}"><img src="../../../media/site/un-noty.png" style="width: 50px; height: 30px;"></a>
{% endif %}
<a class="nav-item btn btn-outline-danger" href="{% url 'accounts:ChangePassowrd' user.id %}">ChangePassowrd</a> 
<hr>
<h4>folowers</h4>
{% for folow in following %}
<p>{{folow.name}}</p>
{% endfor %}
<h4>lists</h4>
<hr>
    {% for blog in lists %}
          <h5>{{blog.titel}}</h5>
          <p>{{blog.body}}</p>
          {% if user == blog.user %}
          <a class="btn btn-outline-warning" href="{% url 'list:ListUpdate' blog.id %}">update</a>
          <a class="btn btn-outline-danger" href="{% url 'list:ListDelete' blog.id %}">delete</a>
          <a href="{% url 'list:MyList' blog.id %}" class="btn btn-outline-primary">detail</a>
          {% endif %}
          <hr>
      {% endfor %}
<h4>playlists</h4>
<hr>
{% for blog in palylists%}
<h5>{{blog.titel}}</h5>
<p>{{blog.body}}</p>
{% if user == blog.user %}
<a class="btn btn-outline-warning" href="{% url 'list:PlayListUpdate' blog.id %}">update</a>
<a class="btn btn-outline-danger" href="{% url 'list:PlayListDelete'  blog.id %}">delete</a>
<a href="{% url 'list:MyPlayList' blog.id %}" class="btn btn-outline-primary">detail</a>

{% endif %}
<hr>
{% endfor %}
{% endblock %}