<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>detail</title>
</head>
<body>
<img src = {{account.image.url}} >
<h3>{{account.username}}</h3>
<h3>{{account.last_name}}</h3>
<h3>{{account.frest_name}}</h3>
<p>{{account.body}}</p>
<p>{{account.address}}</p>
<p>{{account.password}}
{{account.date_of_birth}}
{{account.gender}}
<a href="{% url 'accounts:Profile' account.id %}">Profile</a> 
{{account.email}}</p>
{% if user in account.folower.all %}
<a href="{% url 'accounts:unfolo' account.id %}">unfolo</a>
{% else %}
<a href="{% url 'accounts:folo' account.id %}">folo</a>
{% endif %}
<a href="{% url 'accounts:logout' %}">logout</a> 
</body>
</html>