{% extends 'base.html' %}

{% block content %}

<div class="row row-cols-auto mydiv">
  {% for video in post %}
  <div class="card bg-dark btn-outline-light" style="width: 18rem;">
      <img src="{{video.image.url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{video.title}}</h5>
        <p class="card-text">{{video.author.name}}</p>
        <p class="card-text">{{video.date}}</p>
        <a href="{% url 'video:VideoDetail' video.id %}" class="btn btn-outline-primary">detail</a>
      </div>
  {% endfor %}
</div>

{% endblock %}
