{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-dark ">
    <div class="container-fluid">
      <form class="d-flex" method='get'>
        <input class="form-control me-2 btn btn-outline-light" type="search" placeholder="Search" aria-label="Search" name='search'>
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
    </div>
  </nav>
<div class="row row-cols-auto mydiv">
  {% if post %}
  {% for blog in post %}
        <a href="{% url 'blog:BlogDetail' blog.meta.id %}" class="btn btn-outline-light" style="width: 18rem;"><h5>{{blog.titel}}</h5></a>
    {% endfor %}
    {% endif %}
  </div>

    {% endblock %}
