{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-dark ">
    <div class="container-fluid">
      <form class="d-flex" method='get'>
        <input class="form-control me-2 btn btn-outline-light" type="search" placeholder="Search" aria-label="Search" name='search'>
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
    </div>
  </nav>
<hr>
<div class="row row-cols-auto mydiv">
  {% for blog in post %}
  <div class="card bg-dark btn-outline-light" style="width: 18rem;">
      <img src="{{blog.image.url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{blog.titel}}</h5>
        <p class="card-text">{{blog.author.name}}</p>
        <p class="card-text">{{blog.date}}</p>
        <a href="{% url 'blog:BlogDetail' blog.id %}" class="btn btn-outline-primary">detail</a>
      </div>
    </div>
    {% endfor %}
  </div>
<hr>

    {% endblock %}
