{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <form class="d-flex" method='get'>
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name='search'>
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
    </div>
  </nav>

    {% for blog in post %}
    <img src = {{blog.image.url}}>
    <h3>{{blog.titel}}</h3>
    {{blog.author}}
    {{blog.date}}
    <a href="{% url 'blog:BlogDetail' blog.id %}">detail</a>
    {% endfor %}
    {% endblock %}
