{% extends 'base.html' %}
{% load social_share %}
{% load short_tags %}
{% load comments_tags %}
{% load static %}

{% block content %}

<video controls> 
  <source src="{{short.film.url}}">
</video>

<p>{{short.body}}</p>
<p>{{short.user.name}}</p>
<p>{{short.time}}</p>

<br>
<p>likes : {% short_like_count short %}</p>
<p>unlikes : {% short_unlike_count short %}</p>
<p>comments : {% short_comment_count short %}</p>
<p>views : {% short_view_count short %}</p>
<br>

{% if user == short.user %}
  <a class="btn btn-outline-warning" href="{% url 'short:ShortUpdate' short.id %}">update</a>
  <a class="btn btn-outline-danger" href="{% url 'short:ShortDelete' short.id %}">delete</a>
{% endif %}

<a class="btn btn-outline-dark" href="{% url 'list:AddToList' short.id %}">AddToList</a>

<img data-bs-target="#staticBackdrop" data-bs-toggle="modal" src="{% static 'img/share.png' %}" style="width: 50px; height: 30px;">
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">share post whit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body bg-dark">
        {% post_to_facebook object_or_url 'facebook' %}
        {% post_to_twitter "New Song: {{short.titel}}. Check it out!" object_or_url 'twitter' %}
        {% post_to_telegram "New Song: {{short.titel}}. Check it out!" object_or_url 'telegram' %}
        {% post_to_whatsapp object_or_url 'whatsapp' %}
        {% add_pinterest_script %}
        {% post_to_gplus object_or_url 'gplus' %}
        {% post_to_linkedin object_or_url %}
        {% send_email '{{short.titel}}' '{{short.body}}' object_or_url 'send_email' %}
        {% post_to_reddit '{{short.titel}}' object_or_url 'reddit' %}      
        {% save_to_pinterest object_or_url %}
        {% copy_to_clipboard object_or_url 'clipboard' %}
        {% add_copy_script %}
      </div>
    </div>
  </div>
</div>

{% if user in short.likes.all %}
  <a href="{% url 'short:ShortLikes' short.id %}"><img src="{% static 'imglikes.png/' %}" style="width: 50px; height: 30px;"></a>
{% else %}
  <a href="{% url 'short:ShortLikes' short.id %}"><img src="{% static 'img/unlikes.png' %}" style="width: 50px; height: 30px;"></a>
{% endif %}

{% if user in short.un_likes.all %}
  <a href="{% url 'short:ShortUnLikes' short.id %}"><img src="{% static 'img/unlike.png' %}" style="width: 50px; height: 30px;"></a>
{% else %}
  <a href="{% url 'short:ShortUnLikes' short.id %}"><img src="{% static 'img/un-unlike.png' %}" style="width: 50px; height: 30px;"></a>
{% endif %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    {% for tag in short.tag.all %}
      <li class="breadcrumb-item"><a href="{% url 'list:TagList' tag.id %}">{{tag}}</a></li>
    {% endfor %}
  </ol>
</nav>

<hr>

{% for comment in comments %}

  <br>
  <hr>

  {% if comment.reply_to_reply %}
    <p>reply_to_reply : {{comment.reply_to_reply}}</p>
  {% elif comment.reply %}
    <p>reply : {{comment.reply}}</p>
  {% endif %}

  <p>{{comment.body}}</p>
  <h4>{{comment.author}}</h4>
  <p>{{comment.date}}</p>

  {% if user == comment.author %}
    <a class="btn btn-outline-warning" href="{% url 'comments:CommentUpdate' comment.id %}">update</a>
    <a class="btn btn-outline-danger" href="{% url 'comments:CommentDelete' comment.id %}">delete</a>
  {% endif %}

  <a class="btn btn-outline-dark" href="{% url 'comments:CommentCreate' pk=short.id obj='obj_short' %}">ComentCreate</a>


  {% if user in comment.likes.all %}
    <a href="{% url 'comments:CommentLikes' comment.id %}"><img src="{% static 'img/likes.png' %}" style="width: 50px; height: 30px;"></a>
  {% else %}
    <a href="{% url 'comments:CommentLikes' comment.id %}"><img src="{% static 'img/unlikes.png' %}" style="width: 50px; height: 30px;"></a>
  {% endif %}

  {% if user in comment.un_likes.all %}
    <a href="{% url 'comments:CommentUnLikes' comment.id %}"><img src="{% static 'img/unlike.png' %}" style="width: 50px; height: 30px;"></a>
  {% else %}
  <a href="{% url 'comments:CommentUnLikes' comment.id %}"><img src="{% static 'img/un-unlike.png' %}" style="width: 50px; height: 30px;"></a>
  {% endif %}

  {% if comment.reply%}
    <a class="btn btn-outline-dark" href="{% url 'comments:ReplyToReplyComment' comment.id %}">ReplyToReplyComment</a>
  {% else %}
    <a class="btn btn-outline-dark" href="{% url 'comments:ReplyComment' comment.id %}">ReplyComment</a>
  {% endif %}
  
{% endfor %} 

<hr>

<div class="row row-cols-auto mydiv">
  {% for short in shorts %}
  <div class="card bg-dark btn-outline-light" style="width: 18rem;">
    <video controls class="card-img-top"> 
      <source src="{{short.film.url}}" >
        </video>
    <div class="card-body">
      <p class="card-text">{{short.user.name}}</p>
      <p class="card-text">{{short.time}}</p>
      <a href="{% url 'short:ShortDetail' short.id %}" class="btn btn-outline-primary">detail</a>
    </div>
  </div>
  {% endfor %}
</div>
<hr>

<script>
    const myModal = document.getElementById('myModal')
    const myInput = document.getElementById('myInput')
    myModal.addEventListener('shown.bs.modal', () => {
      myInput.focus()
})
</script>

{% endblock %}
