<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
{% for coments in blogpost %}
<img src = {{blog.image.url}}>
<p>{{coments.body}}</p>
<h4>{{coments.author}}</h4>
{{coments.date}}
<a href="{% url 'coments:unlike' coments.id %}">👎</a>
<a href="{% url 'coments:like' coments.id %}">👍</a>
{% endfor %} 

</body>
</html>